# Clave de acceso a la API de FRED
FRED_API_KEY=clave_fred
REUTERS_RSS_URL=https://www.reuters.com/rssFeed/businessNews
GOOGLE_NEWS_RSS=https://news.google.com/rss/search?q=trade+OR+tariff+OR+sanction&hl=en-US&gl=US&ceid=US:en
NEWS_API_KEY=clave_news_api
POSTGRE_KEY=clave_postgre

#### Credenciales de acceso PostgreSQL
POSTGRES_USER=alertas_user
POSTGRES_PASSWORD=alertas_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=alertas_ai

#### Credenciales de acceso Slack
SLACK_OAUTH_TOKEN = xoxb-8889928136326-9328647097344-d3wG4J7cDK8ClM1efCqq8ae8